POSTGRES_USER=jmp_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=job_market

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_too

ADZUNA_APP_ID=your_app_id_here
ADZUNA_APP_KEY=your_app_key_here
