# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
env/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Project-specific
dbt_project/target/
dbt_project/logs/
data_*.json
